@model IEnumerable<_66044011_Tatsunori.ViewModels.LabStudentViewModels>

<table class="table">
    <thead>
        <tr>
            <th>StdID</th>
            <th>StdPASSWORD</th>
            <th>StdName</th>
            <th>StdLastname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StdID</td>
                <td>@student.StdPASSWORD</td>
                <td>@student.StdName</td>
                <td>@student.StdLastname</td>
                <td><a asp-route-UID="@student.StdID" asp-action="Lab10" asp-controller="Account">Edit</a>
                <a asp-route-UID="@student.StdID" asp-action="Lab10D" asp-controller="Account">Delete</a>
                </td>
            </tr>
        }
    </tbody>